{% load static %}
<html lang="pt">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

<h2>Solicitamos sua resposta para o seguinte tópico:</h2>

<h3><strong><p>{{ question }}</p></strong></h3>

<h2>Por favor clique no botão abaixo para nos enviar a sua resposta</h2>

<a href="http://{{ domain }}{% url 'info:survey-answer' uidb64=uid token=token email=survey_email %}">
    <button style="
   padding: 10px;
   border-radius: 8px;
   background: #fff;
   color: #18bc9c;
   appearance: none;
   font-family: sans-serif;
   font-weight: bold;
   border: solid #18bc9c;
   ">ENVIAR RESPOSTA
    </button>
</a>

<br>
<h2>Agradecemos desde já.</h2>
<br>
<br>
{% include 'info/condominium/account/signature.html' %}
</body>
</html>
