asgiref==3.6.0
Django==4.2.1
django-decouple==2.1
psycopg2==2.9.6
sqlparse==0.4.4
phonenumbers==8.13.11
six==1.16.0
requests==2.30.0
twilio==8.2.0
gunicorn==20.1.0
django-crispy-forms==1.14.0
fontawesomefree==6.4.0
pillow
xhtml2pdf==0.2.11
pandas
openpyxl==3.1.2
django-crontab==0.7.1
qrcode==7.4.2
geoip2==4.7.0
geopy==2.3.0
django-pwa==1.1.0
firebase-admin
fpdf2==2.8.2
firebase-admin
pytz
