{% extends 'info/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container bg-light shadow-md p-5 form-layout">
        <h2>Enviar ao Morador</h2>
        <hr>
        <br>
        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}

            <br>
            <br>
            <button id="submitNotification" type="submit" class="btn btn-primary w-100 btn-block p-2">Enviar link</button>
            <br>
        </form>
        <br>

    </div>
    <br>
    <script src="{% static 'js/add_resident.js' %}"></script>

{% endblock %}
