{% extends 'info/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container bg-light shadow-md p-5 form-layout">
        <h2>Nova senha para {{ codominio }}</h2>
        <hr>
        <br>
        <h5>A senha deve ser composta por 4 números.</h5>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
{#            {{ form|crispy }}#}
            {{ form.new_password1.label_tag }}<br>
            <div class="input-group">
                {{ form.new_password1 }}
                <button type="button" class="btn btn-outline-secondary" id="toggle-password">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </div>
            {{ form.new_password2.label_tag }}<br>
            {{ form.new_password2}}
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">CRIAR MINHA SENHA</button>
        </form>

        <br>
    </div>
    <br>
    <script>
        // Your JavaScript code for toggling password visibility
        const passwordInput = document.getElementById('password-input');
        const toggleButton = document.getElementById('toggle-password');

        toggleButton.addEventListener('click', () => {
            const type = passwordInput.type === 'password' ? 'text' : 'password';
            passwordInput.type = type;
        });
    </script>

{% endblock %}