{% extends 'info/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container bg-light shadow-md p-5 form-layout">
        <h2>Atualizar Ajuda</h2>
        <hr>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Atualizar</button>
            <br>
            <a id="return-link" href="{% url 'info:hows-to' %}" class="btn btn-danger w-100 btn-block p-2 mt-2">
                <i class="fa fa-arrow-left">Voltar</i>
            </a>
        </form>
        <br>
    </div>
{% endblock %}
