{% extends 'info/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container bg-light shadow-md p-5 form-layout">
        <h2>Adicionar Arquivo</h2>
        <hr>
        <br>
        <span style="color: red"><p><strong>O tamanho máximo do arquivo deve ser de 100 MB.</strong></p></span>
        <br>
        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">ADICIONAR</button>
        </form>
        <br>
    </div>
    <br>
{% endblock %}
