{% extends 'info/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container bg-light shadow-md p-5 form-layout">
        <h2>Adicionar</h2>
        <h3>cobrança para reserva</h3>
        <hr>
        <br>
        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}

            <h4>Área: <strong>{{ reservation.place }}</strong></h4>
            <h4>Data: <strong>{{ reservation.date|date:"d/m/Y" }}</strong></h4>
            <h4>Horário: <strong>Das {{ reservation.time.init_time|time:"H:i" }} Até {{ reservation.time.end_time|time:"H:i" }}</strong></h4>
            <h4>Reservado por: <strong>{{ reservation.resident }}</strong></h4>

            {{ form.link.label_tag }}
            {{ form.link }}

            <h4>Ou</h4>

            {{ form.bill.label_tag }}
            {{ form.bill }}


            <br>
            <br>

            <button id="submitResident" type="submit" class="btn btn-primary w-100 btn-block p-2">COBRAR</button>
            <br>
        </form>

        <br>

    </div>
    <br>
{% endblock %}
