{% extends 'info/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container bg-light shadow-md p-5 form-layout">
        <h2>Área para reserva</h2>
        <h3>{{ place.name }}</h3>
        <hr>
        <br>
        {% if place.image %}
            <img src="{{ place.image.url }}" class="resized-img my-5" alt="Overview">
        {% endif %}
        <br>
        <br>
        {% if place.description %}
            <h5>Descrição:</h5>
            <pre><strong>{{ place.description }}</strong></pre>
        {% endif %}
        <h5>Capacidade: <strong>{{ place.capacity }} pessoas</strong></h5>
        <h5>Preco: <strong>R$ {{ place.price }}</strong></h5>
        <h5>Antecedência mínima para reservar: <strong>{{ place.minimum_days_to_reserve }} dia(s)</strong></h5>
        <h5>Antecedência máxima para reservar: <strong>{{ place.maximum_days_to_booking }} dia(s)</strong></h5>
        <h5>Antecedência para cancelamento: <strong>{{ place.minimum_days_to_cancel }} dia(s)</strong></h5>
        <h5>Total de reservas:</h5>
        <ul>
            <li>Pelo apartamento por dia: <strong>{{ place.maximum_unity_reservation_per_day }}</strong></li>
            <li>Pelo morador por dia: <strong>{{ place.maximum_resident_reservation_per_day }}</strong></li>
            <li>Pelo apartamento por semana: <strong>{{ place.maximum_unity_reservation_per_week }}</strong></li>
            <li>Pelo morador por semana: <strong>{{ place.maximum_resident_reservation_per_week }}</strong></li>
            <li>Pelo apartamento por mês: <strong>{{ place.maximum_unity_reservation_per_month }}</strong></li>
            <li>Pelo morador por mês: <strong>{{ place.maximum_resident_reservation_per_month }}</strong></li>
            <li>Pelo apartamento por ano: <strong>{{ place.maximum_unity_reservation_per_year }}</strong></li>
            <li>Pelo morador por ano: <strong>{{ place.maximum_resident_reservation_per_year }}</strong></li>
        </ul>

        <div class="row-inline">
            <h5>Multiplas reservas: {% if place.multi_reservations %}
                <strong>SIM</strong> {% else %} <strong>NÃO</strong> {% endif %}</h5>


                <button type="button" class="btn btn-link ms-auto text-end" data-bs-container="body" data-bs-toggle="popover"
                        data-bs-placement="right"
                        data-bs-content="Outros moradores podem reservar esta mesma área no mesmo horário"
                        data-bs-original-title="Como funciona?" aria-describedby="popover64109"><i
                        class="fa-regular fa-circle-question fa-xl icon-minus"></i>
                </button>


        </div>

        <h5>Nova reserva <strong>somente</strong> quando a atual for utilizada:
            {% if place.allow_new_reservation %} <strong>SIM</strong> {% else %} <strong>NÃO</strong> {% endif %}</h5>
        {% if blocked_areas %}
            <h5>Áreas que esta reserva bloqueia:</h5>
            <ul>
                {% for area in blocked_areas %}
                    <li>{{ area.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if place.inspection %}
            <h5>Vistoria do espaço Reservado: <a target="_blank" href="{{ place.inspection.url }}"><strong>Link para
                Termo</strong></a></h5>
        {% endif %}
        {% if place.internal_regime %}
            <h5>Regime interno: <a target="_blank" href="{{ place.internal_regime.url }}"><strong>Link para
                Regime</strong></a></h5>
        {% endif %}
        {% if place.rules %}
            <h5>Regras: <a target="_blank" href="{{ place.rules.url }}"><strong>Link para
                Regras</strong></a></h5>
        {% endif %}
        {% if place.rules %}
            <h5>Termo de aceitação: <a target="_blank" href="{{ place.acceptance_terms.url }}"><strong>Link para
                Termo de Aceitação</strong></a></h5>
        {% endif %}
        <br>
        <br>
        <div class="text-center">
            <a href="{% url 'info:booking-date' place.id %}" class="btn btn-info my-2">VER HORÁRIOS</a>
            <a href="{% url 'info:booking-places' %}" class="btn btn-danger my-2">VOLTAR</a>
        </div>


    </div>
    <br>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include Bootstrap JS (popper.js is required for some Bootstrap components) -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
    <script>
    $(document).ready(function () {
        let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl);
        });
    });
    </script>
{% endblock %}
