{% extends 'info/base.html' %}
{% load static %}
{% block content %}

    <div class="text-center">

        <div class="dashboard">
            {% if 'info.add_product' in user.get_all_permissions %}
                <div class="dashboard-item">
                    <a class="dashboard-link" href="{% url 'info:products' %}">
                        <div class="icon">
                            <i class="fa-solid fa-store fa-2xl m-4" style="color: #3498db"></i>
                            <br>
                            Produtos
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if 'info.add_storageentry' in user.get_all_permissions %}
                <div class="dashboard-item">
                    <a class="dashboard-link" href="{% url 'info:add-storage-entry' %}">
                        <div class="icon">
                            <i class="fa-solid fa-boxes-stacked fa-2xl m-4" style="color: #3498db"></i>
                            <br>
                            Adicionar Estoque
                        </div>

                    </a>
                </div>
                <div class="dashboard-item">
                    <a class="dashboard-link" href="{% url 'info:withdraw-storage-entry' %}">
                        <div class="icon">
                            <i class="fa-solid fa-box-open fa-2xl m-4" style="color: #3498db"></i>
                            <br>
                            Remover Estoque
                        </div>

                    </a>
                </div>
            {% endif %}
            {#            {% endif %}#}
            {#            {% if perms.info.add_message_all %}#}
            {#                <div class="dashboard-item">#}
            {#                    <a class="dashboard-link" href="{% url 'info:message-all' %}">#}
            {#                        <div class="custom-icon">#}
            {#                            <i class="fa-solid fa-city fa-2xl m-4" style="color: #3498db"></i>#}
            {#                            <br>#}
            {#                            Comunicar a Todos#}
            {#                        </div>#}
            {#                    </a>#}
            {#                </div>#}
            {#            {% endif %}#}
            {#            {% if perms.info.view_message %}#}
            {#                <div class="dashboard-item">#}
            {#                    <a class="dashboard-link" href="{% url 'info:message-list' %}">#}
            {#                        <div class="icon">#}
            {#                            <i class="fa-solid fa-envelope-circle-check fa-2xl m-4" style="color: #3498db"></i>#}
            {#                            <br>#}
            {#                            Mensagens Enviadas#}
            {#                        </div>#}
            {#                    </a>#}
            {#                </div>#}
            {#            {% endif %}#}
            {#            <div class="dashboard-item">#}
            {#                <a class="dashboard-link" target="_blank" href="https://chat.openai.com">#}
            {#                    <div class="icon">#}
            {#                        <img src="{% static 'img/gpt.png' %}" style="width: 55px; height: 55px;">#}
            {#                        <br>#}
            {#                        Gerar comunicado por Chat GPT#}
            {#                    </div>#}
            {#                </a>#}
            {#                <div class="">#}
            {#                    {% if how_to_chat_gpt_text %}#}
            {#                        <button type="button" class="btn btn-link ms-auto" data-bs-container="body"#}
            {#                                data-bs-toggle="popover"#}
            {#                                data-bs-placement="left"#}
            {#                                data-bs-content="{{ how_to_chat_gpt_text }}"#}
            {#                                data-bs-original-title="Como funciona?" aria-describedby="popover64109"><i#}
            {#                                class="fa-regular fa-circle-question fa-xl"></i>#}
            {#                        </button>#}
            {#                    {% elif how_to_chat_gpt_link %}#}
            {#                        <a class="btn btn-link ms-auto" target="_blank" href="{{ how_to_chat_gpt_link }}"><i#}
            {#                                class="fa-regular fa-circle-question fa-xl"></i></a>#}
            {#                    {% endif %}#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>

{% endblock %}
