<div class="row timeline-right">
    <div class="col-md-6">
        <p class="timeline-date">
            {{ date|date:"d M Y" }}
        </p>
    </div>
    <div class="col-md-6">
        <div class="timeline-box">
            <div class="timeline-icon">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </div>
            <div class="timeline-text">
                <center>
                    <h3>{{ heading|title }}</h3>
                </center>
                <p align="justify">{{ body }}
                    {% if link %}
                        <br>
                        <a target="_blank" href="{{ link }}">LINK/VÍDEO</a>
                    {% endif %}</p>

                {% if img %}
                    <br>
                    <a href="{{ img.url }}" data-lightbox="gallery1">
                        <img width="100px" src="{{ img.url }}" alt="Thumbnail">
                    </a>
                {% endif %}
                {#            {% if url %}#}
                {#                <p align="right"><a href={{url}} class="btn btn-sm btn-secondary">click here</a></p>#}
                {#            {% endif %}#}
            </div>
        </div>
    </div>
</div>