{% extends 'info/base.html' %}
{% load static %}
{% block content %}

    <div class="text-center">
        <h2>Linhas do tempo cadastradas</h2>
        <br>
        <a class="dashboard-link" href="{% url 'info:add-timeline' %}">
            <div class="custom-icon">
                <i class="fa-solid fa-timeline fa-2xl m-4" style="color: #3498db"></i>
                <br>
                Adicionar Timeline
            </div>
        </a>
        <br>
        {% if 'info.view_timeline' in user.get_all_permissions %}
            <hr>
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col">Ações</th>
                        <th scope="col">Título</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Data de ínicio</th>
                        <th scope="col">Data de fim</th>
                        <th scope="col">Criado por</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for timeline in timelines %}
                        <tr>
                            <td>
                                <div class="row-inline">
                                    <a href="{% url 'info:view-timeline' timeline.id %}" class="btn btn-primary btn-sm"><span>
                                    <i class="fa-regular fa-eye"></i></span></a>

                                    <a href="{% url 'info:update-timeline' timeline.id %}"
                                       class="btn btn-primary btn-sm mx-2"><span><i
                                            class="fa-regular fa-pen-to-square"></i></span></a>

                                    <a href="/confirm-delete/timelines/remove-timeline.{{ timeline.id }}"
                                       class="btn btn-primary btn-sm"><span><i
                                            class="fa-regular fa-trash-can"></i></span></a>
                                </div>
                            </td>
                            <td>{{ timeline.title }}</td>
                            <td>{{ timeline.description }}</td>
                            <td>{{ timeline.start_date }}</td>
                            <td>{{ timeline.end_date }}</td>
                            <td>{{ timeline.user.condominium_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <br>
        <br>
        <a href="{% url 'info:dashboard' %}" class="btn btn-danger">
            <i class="fa fa-arrow-left"> </i>
            Voltar
        </a>
    </div>

{% endblock %}
