{% extends 'info/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container bg-light shadow-md p-5 form-layout">
        <h2>Problema Relatado</h2>
        <hr>
        <br>
        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            {% if img %}

                <img class="w-100" src="{{ img.url }}" alt="Thumbnail">
            {% endif %}
            <br>
            <br>
        <div class="text-center">
            <a id="return-link" href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">
                <i class="fa fa-arrow-left"> Voltar</i>
            </a>
        </div>
        </form>
        <br>
    </div>
    <br>

{% endblock %}
